<section class="title">
  <div class="headers">
    <p class="product bold">
      Product
    </p>

    <p class="count bold">
      Items count
    </p>

    <p class="price bold">
      Price
    </p>
  </div>

  <div class="elements">
    <cart-element></cart-element>
    <cart-element></cart-element>
    <cart-element></cart-element>
    <cart-element></cart-element>
    <cart-element></cart-element>
  </div>
</section>

<section class="navigation">
  <a href="https//www.wp.pl">< Go back</a>
  <a href="https//www.wp.pl">Next step</a>
</section>
