<status [step]="'1'"></status>

<section class="title">
  <div class="headers">
    <p class="product bold">
      Product
    </p>

    <p class="count bold">
      Items count
    </p>

    <p class="price bold">
      Price
    </p>
  </div>

  <div class="elements">
    <cart-element *ngFor="let element of cartDisplayElements" [cartElement]="element"></cart-element>
  </div>
</section>

<section class="navigation">
  <a href="">< Go back</a>
  <a href="#" (click)="clearCart()">Clear cart</a>
  <a href="user-data">Next step</a>
</section>
