<status [step]="'2'"></status>
<section>
  <div>
    <form>
      <p>First name</p>
      <input type="text" required/>

      <p>Last name</p>
      <input id="lastName" type="text" />
      
      <p>Telephone number</p>
      <input id="telephoneNumber" type="text" />
      
      <p>Email address</p>
      <input id="email" type="text" />
    </form>
  </div>

  <div>
    <p>Street</p>
    <input type="text" />

    <p>Building number</p>
    <input type="text" />

    <p>Place</p>
    <input type="text" />

    <p>ZIP code</p>
    <input type="text" />
  </div>
</section>

<section class="navigation">
  <a href="cart">< Go back</a>
  <a href="">Order and pay</a>
</section>
