<status></status>
<section>
  <div>
    <form>
        <p>First name</p>
        <input type="text" />

        <p>Last name</p>
        <input type="text" />

        <p>Telephone number</p>
        <input type="text" />

        <p>Email address</p>
        <input type="text" />
    </form>
  </div>

  <div>
    <form>
        <p>Street</p>
        <input type="text" />

        <p>Building number</p>
        <input type="text" />

        <p>Place</p>
        <input type="text" />

        <p>ZIP code</p>
        <input type="text" />
    </form>
  </div>
</section>

<section class="navigation">
  <a href="cart">< Go back</a>
  <a href="">Order and pay</a>
</section>
