<div class="card">
  <p class="title">Potop</p>
  <p class="author">Henryk Sienkiewicz</p>

  <div>
    <img
      src="https://media.merlin.pl/media/300x452/000/003/804/56ba61f951b74.jpg"
    />

    <div>
      <div class="info">
        <p>
          Number of pages:
        </p>
        <p>
          500
        </p>
      </div>

      <div class="info">
        <p>
          Price:
        </p>
        <p>
          25,55 zł
        </p>
      </div>

      <div class="actions">
        <a href="https://www.wp.pl">Order</a>
        <a href="https://www.wp.pl">Add to cart</a>
      </div>
    </div>
  </div>
</div>
