<div class="card">
  <p class="title">{{ book.title }}</p>
  <p class="author">{{ book.author }}</p>

  <div>
    <img src="data:image/gif;base64,{{ book.photo }}" />

    <div>
      <div class="info">
        <p>
          Number of pages:
        </p>
        <p>
          {{ book.numberOfPages }}
        </p>
      </div>

      <div class="info">
        <p>
          Price:
        </p>
        <p>{{ book.price }} zł</p>
      </div>

      <div class="actions">
        <a href="#" (click)="goToOrder(book.id)">Order</a>
        <a href="#" (click)="addToCart(book.id)">Add to cart</a>
      </div>
    </div>
  </div>
</div>
