.card {
  width: 100%;
  display: flex;
  margin-bottom: 1rem;

  div {
    width: 60%;
    display: flex;
    flex-wrap: wrap;

    img {
      padding-left: 1rem;
      height: 4rem;
      width: 3rem;
    }

    div {
      display: flex;
      flex-direction: column;

      p {
        margin-left: 0.5rem;

        &.title {
          font-size: 1.1rem;
          font-weight: 800;
          margin-top: 0;
          margin-bottom: 0;
        }

        &.author {
          margin-top: 0;
          font-size: 0.95rem;
        }
      }
    }
  }

  p.data {
    width: 20%;
    text-align: right;
    padding-right: 2.2rem;

    &.price {
      font-weight: 800;
      padding-right: 1.5rem;
    }
  }
}
